<h1><%=@tax_year.user.username %> - <%=@tax_year.year%> Freelance Income</h1>
<%= link_to "Create a check", new_tax_year_check_path(tax_year_id: @tax_year.id), class: "newCheck" %><br>
<%= content_tag :div, class: "id", data: {temp: @tax_year.id} do %>
<% end %>

<div class="row">
  <div class="col-md">
    <button type="button" name="button" onclick="displayFormEmployers()">Show Employers</button><br>
    <h2 class= "text-left">Income from Form 1099's</h2>
    <div class="form_employees">

    </div>

  </div>

</div>
