<h1><%=@tax_year.year%> Checks Sorted By Employers</h1>


<% @tax_year.employers.uniq.each do |employer| %>
  <button type="button" class="employer" id="<%=employer.id%>"><%=employer.name%></button><br>
<% end %>
