<h1 data:"<%=@tax_year.id%>"><%=@tax_year.year%> Checks Sorted By Employers</h1>
<%= content_tag :div, class: "id", data: {temp: @tax_year.id} do %>
<% end %>



<script type="text/javascript" charset="utf-8">
  document.addEventListener('turbolinks:load', loadEmployers())
</script>
