<h1>Welcome to the Freelancers Tax Organizer</h1>
<%= link_to 'Login', new_session_path %><br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %><br>



<%= link_to 'Sign Up', new_user_path %><br>
