<h1>Welcome to the Freelancers Tax Organizer</h1>


<p>Login if you already have an account, otherwise, click Sign Up or Login using your Facebook data!</p>
<%= link_to 'Login', new_session_path %><br><br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %><br><br>



<%= link_to 'Sign Up', new_user_path %><br>
