<h1><%= @employer.name %></h1>
<%= link_to 'Edit Employer Info', edit_employer_path(@employer) %>


<%= render partial: 'table_with_tax_years', locals: {tax_years: @employer.tax_years.uniq, employer: @employer} %>
